<h1 class="text-center mt-4"><%= @user.username.titleize %>'s Profile </h1>
<h3 class="text-center mt-4"> Questions </h3>
<div class="flickr_pagination">
  <%= will_paginate @questions, :container => false %>
</div>
<%= render 'questions' %>
