<div class="container" id="home-container">
    <div class="jumbotron text-center text-white" id="custom-jumbo">
      <h1 class="display-4">AeroFlow</h1>
      <p class="lead">Welcome to AeroFlow, a community powered knowledge base for all aviation technicians.</p>
      <hr class="my-4">
      <p>Ask a question. Answer a question. Search questions. Spread the knowledge.</p>
      <%= link_to 'Sign up', signup_path, class: "btn btn-light btn-lg" %>
  </div>
</div>