<footer id="sticky-footer" class="py-4 mt-4 bg-dark text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; <a id="sticky-link"href="https://github.com/mavrik83" target=”_blank”>Knowledge Tonic</a></small>
  </div>
</footer>